.menu {
	min-width: 240px;

	.menuPropper {
		padding-bottom: 8px;

		.menuItemNotEqualsLv1 span {
			font-weight: normal;
		}
	}
}

.iconWrapper {
	padding: 8px;
	display: inline-flex;
	align-items: center;
	cursor: pointer;
}
