$header-height: 60px;

// Common Colors
$primary-color: #fe2c55;
$secondary-color: #20d5ec;
$text-color: #333;
$white-color: #fff;
$black-color: #000;
$black-main-color: #161823;

// Common Font Weights
$thin-fw: 100;
$extra-light-fw: 200;
$light-fw: 300;
$regular-fw: 400;
$medium-fw: 500;
$semi-bold-fw: 600;
$bold-fw: 700;
$extra-bold-fw: 800;
$black-fw: 900;
