.header {
	width: 100%;
	height: $header-height;
	box-shadow: 0px 1px 1px rgba($color: $black-main-color, $alpha: 0.12);
	position: fixed;
	top: 0;

	.inner {
		height: 100%;
		padding-left: 16px;
		padding-right: 24px;

		display: flex;
		justify-content: space-between;
		align-items: center;

		.search {
			height: 46px;
			padding: 12px 16px;
			display: flex;
			align-items: center;
			background-color: rgba($color: $black-main-color, $alpha: 0.06);
			border-radius: 92px;
			overflow: hidden;

			&:focus-within {
				border: 1.5px solid rgba($color: $black-main-color, $alpha: 0.2);
			}

			.input {
				width: 346px;
				padding: 0;
				border: none;
				outline: none;
				font-size: 1.6rem;
				line-height: 22px;
				caret-color: $primary-color;
				background: transparent;
				appearance: textfield;
			}

			.clearIcon {
				cursor: pointer;
			}

			.separator {
				width: 1px;
				height: 28px;
				margin-left: 12px;
				margin-right: 12px;
				background-color: rgba($color: $black-main-color, $alpha: 0.12);
			}

			.searchBtn {
				margin-left: -12px;
				margin-right: -16px;

				padding-top: 12.25px;
				padding-bottom: 8.25px;
				padding-left: 12px;
				padding-right: 16px;

				cursor: pointer;
				border: none;

				&:hover {
					background-color: rgba($color: $black-main-color, $alpha: 0.03);
				}
			}
		}

		.searchResult {
			background-color: red;
			width: 443px;
		}

		.actions {
			display: flex;
			align-items: center;

			.moreIcon {
				margin-left: 16px;
				cursor: pointer;
			}
		}
	}
}
