.popper {
	width: 100%;
	max-height: min((100vh - 96px) - 60px, 734px);
	min-height: 100px;

	margin-top: 8px;
	margin-bottom: 14px;
	padding-top: 8px;
	border-radius: 8px;
	position: absolute;
	overflow: hidden auto;

	background-color: $white-color;
	box-shadow: rgba($color: $black-color, $alpha: 0.12) 0px 2px 12px;
}
